{% extends 'store/base.html' %}

{% block content %}
    
<div class='container mt-4' style='width: 800px'>
    <div class='col d-flex justify-content-center'>
        <div class='row w-100'>
            {% if searched %}
            <h1>Showing search results for {{ search_query }}</h1>
            {% else %}
            <h1>All Products</h1>
            {% endif %}
            <div class="cart-container">
                <div class="card">
                    <ul class="list-group list-group-flush">

                        {% for item in products %}
                            <li class="list-group-item w-100">
                                <div class='row w-100'>
                                    <div class="col-lg-3">
                                        <img src="{{item.image.url}}" class='img object-fit-cover border-0 rounded' style="height: 100px; width: 100px">
                                    </div>
                                    <div class="col-lg">
                                        <h5><a class='text-decoration-none' href="{% url 'product' product_id=item.pk %}">{{ item.title }}</a></h5>
                                        <p class='text-{% if item.stock > 0 %}success{% else %}danger{% endif %} m-0 '>Stock: {{ item.stock }}</p>
                                        {% comment %} <p class='text-body-secondary m-0'>Sold: {{ item.sold }}</p> {% endcomment %}
                                        <h6>Price: ${{ item.price }}</h6>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
