<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <style>
        .carousel-item img {
            height: 400px;
            object-fit: cover;
        }
    </style>

  </head>
  <body style="background-color: rgb(235, 239, 245)">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark sticky-top shadow" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            
            <!-- Search Bar -->
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 500px">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </li>
            </ul>


            <!-- Toggle Button -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Right Side -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    
                    <!-- Shop Button -->
                    {% if user.is_authenticated and user.is_seller %}
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% comment %} {{ user.shop.title }} {% endcomment %}
                            <i class="bi bi-shop-window"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'shop' shop_id=user.shop.pk %}">Visit {{ user.shop.title }}</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_product' shop_id=user.shop.pk %}">Add Product</a></li>
                            <li><a class="dropdown-item" href="{% url 'shop_orders' shop_id=user.shop.pk %}">View Orders</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Preference</a></li>
                        </ul>
                    </li>

                    {% endif %}
                    
                    <!-- Create Shop Button -->
                    {% if user.is_authenticated and user.is_seller == False %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'create_shop' %}">Create Shop</a>
                    </li>
                    {% endif %}
                    
                    
                    {% if user.is_authenticated %}

                    <!-- Cart -->
                    <li class="nav-item">
                        <a class='nav-link position-relative' href="{% url 'cart' %}">
                            {% if request.user.cart.num_items > 0 %}
                                <span class="position-absolute top-200 start-100 translate-middle badge rounded-pill bg-danger" id='cart_item_count'>{{request.user.cart.num_items}}</span>
                            {% endif %}
                            <i class="bi bi-cart"></i>
                        </a>
                    </li>

                    <!-- User Profile Icon -->
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle rounded-circle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration:none; color:inherit;"  >
                                {% if request.user.profile_img %}
                                
                                    <img src="{{request.user.profile_img.url}}" alt="User Profile Image" class="rounded-circle border-0 object-fit-cover" width="30" height="30">
                                {% else %}
                                    <i class="bi bi-person-fill"></i>
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'cart' %}">Your Cart</a></li>
                                <li><a class="dropdown-item" href="{% url 'my_orders' %}">Your Orders</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal" href="#">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                    <a class="btn btn-light me-2" href="{% url 'login' %}">Login</a>
                    {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    
    <!-- Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Warning!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to logout?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Yes, Logout</button></a>
            </div>
        </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">{{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    
    {% block content %}
    
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>