{% extends 'store/base.html' %}

{% block content %}
<div class='container py-5'>
    {% if request.user.is_authenticated %}
        <h1>Hello {{ request.user.username }}</h1>
    {% else %}
        <h1> Hello Stranger </h1>
    {% endif %}

    <div class="row">
        {% for product in Products %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3" style="max-height: 400px;">
            <div class="card h-100 bg-light text-dark border-0 shadow-sm">
                <img src="{{ product.image.url }}" class="card-img-top img-fluid object-fit-cover" style="height: 50%; width: auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a class="text-decoration-none" href="{% url 'product' product_id=product.pk%}">{{ product }}</h5></a>
                    <p class="card-text">{{ product.description | truncatewords:10}}</p>
                    <h5 class="float-end w-100">{{ product.price }}TK</h5>
                    {% if user.is_authenticated %}
                        <form method="POST" class="add-to-cart-form">
                            {% csrf_token %}
                            <input type="number" name="product_quantity" min="1" max="20 "step="1" value="1">
                            <input type="hidden" name="product_pk" value="{{ product.pk }}">
                            <button type="submit" class="btn btn-primary w-100">Add to Cart</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% comment %}
This is AJAX request which can do POST and GET requests without reloading the page.
{% endcomment %}
<script>
    $(document).ready(function() {
        $('.add-to-cart-form').submit(function(event) {
            event.preventDefault(); // prevent the default form submission behavior
            var $form = $(this); // get a reference to the form element
            $.ajax({
                url: '{% url 'add_to_cart' %}',
                method: 'POST',
                data: $form.serialize(),    // serialize means it takes the form data and converts to a encoded string i.e: name=John+Doe&email=john.doe@example.com
                success: function(response) {
                    console.log(response); // log the response to the console
                },
                error: function(response) {
                    console.log(response); // log the error to the console
                }
            });
        });
    });
</script>

{% endblock content %}
