{% extends 'store/base.html' %}

{% block content %}

<div class='container-fluid w-100 p-0'>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for shop in display_shops %}            
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <a href="{% url 'shop' shop_id=shop.id %}"><img src="{{ shop.banner_img.url }}" class="d-block w-100" alt="..."></a>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class='container py-5'>
    {% comment %} {% if request.user.is_authenticated %}
        <h1>Hello {{ request.user.username }}</h1>
    {% else %}
        <h1> Hello Stranger </h1>
    {% endif %} {% endcomment %}

    <!-- Shop Section -->
    <h2>Visit Shops</h2>
    <div class="row">
        {% for shop in shops %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3" style="height: 400px; max-width:250px">
            <div class="card h-100 bg-light text-dark border-0 shadow-sm">
                <img src="{{ shop.profile_img.url }}" class="card-img-top img-fluid object-fit-cover" style="height: 80%; width: auto" alt="...">
                <div class="card-body">
                    <h5 align="center" class="card-title"><a class="text-decoration-none" href="{% url 'shop' shop_id=shop.pk %}"><i class="bi bi-shop"></i> {{ shop.title }}</h5></a>
                    {% comment %} <p class="card-text">{{ shop.description | truncatewords:10}}</p> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3" style="height: auto; max-width:250px">
            <div class="card h-100 bg-light text-dark border-0 shadow-sm">
                <a href="#" class=" position-absolute top-50 start-50 translate-middle"><i class="bi bi-arrow-right-circle-fill" style="font-size: 100px"></i><a>
                <div class="card-body">
                    <h5 align="center" class="card-title"><a class="text-decoration-none" href="#">Show More</h5></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Section-->
    <h2>Products</h2>
    <div class="row">
        {% for product in Products %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3" style="max-height: auto; max-width:250px">
            <div class="card h-100 bg-light text-dark border-0 shadow-sm">
                <img src="{{ product.image.url }}" class="card-img-top img-fluid object-fit-cover" style="height: 70%; width: auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a class="text-decoration-none" href="{% url 'product' product_id=product.pk%}">{{ product }}</h5></a>
                    <h6 class="float-end w-100">{{ product.price }}$</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}
