{% extends 'store/base.html' %}

{% block content %}
    
<div class='container mt-4' style='width: 800px'>
    <div class="row p-2">
        <a href="{% url 'add_product' shop_id=user.shop.id %}" class="btn btn-primary">Add Product</a>
    </div>
    <div class='col d-flex justify-content-center'>
        <div class='row w-100'>
            {% comment %} <h1>Welcome to your cart, {{ user.username }}</h1> {% endcomment %}
            <div class="cart-container">
                <div class="card">
                    <div class="card-header" align="center">
                        Your Products
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for item in products %}
                            <li class="list-group-item w-100">
                                <div class='row w-100'>
                                    <div class="col-lg-3">
                                        <img src="{{item.image.url}}" class='img object-fit-cover border-0 rounded' style="height: 100px; width: 100px">
                                    </div>
                                    <div class="col-lg">
                                        <h5><a class='text-decoration-none' href="{% url 'product' product_id=item.pk %}">{{ item.title }}</a></h5>
                                        <p class='text-{% if item.stock > 0 %}success{% else %}danger{% endif %} m-0 '>Stock: {{ item.stock }}</p>
                                        {% comment %} <p class='text-body-secondary m-0'>Sold: {{ item.sold }}</p> {% endcomment %}
                                        <h6>Price: ${{ item.price }}</h6>
                                    </div>
                                    <div class="col-lg-2 d-flex align-items-center justify-content-end">
                                        <a href="{% url 'update_product' product_id=item.id %}" type="button" class="btn btn-primary btn-sm" aria-label="Close">Edit</a>
                                        <div class='p-1'></div>
                                        <form method='POST' class='d-flex'>
                                            {% csrf_token %}
                                            <input type='hidden' name='product_id' value='{{ item.id }}'>
                                            <button type="submit" class="btn btn-sm btn-danger" name='remove' aria-label="Close">Delete</button>
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
