{% extends 'store/base.html' %}

{% block content %}

<div class="container mt-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Shop</th>
                <th>Products</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="
            {% if order.order.order_status == order.order.CANCELLED %}table-danger
            {% elif order.order.order_status == order.order.PENDING%}table-warning
            {% elif order.order.order_status == order.order.PROCESSING%}table-primary
            {% elif order.order.order_status == order.order.DELIVERED%}table-success
            {% endif %}">
                <td>{{ order.order.created_at}}</td>
                <td>{{ order.order.shop }}</td>
                <td>
                    {% for product in order.products %}
                        {{ product.title }} x{{ product.quantity }}<br>
                    {% endfor %}
                </td>
                <td>{{ order.total }}$</td>
                <td>{{ order.order.get_order_status_display }}</td>         <!-- get_attributeName_display give the human readable name -->
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>


{% endblock content %}