{% extends 'store/base.html' %}

{% block content %}
<div class='container position-absolute top-50 start-50 translate-middle bg-light text-dark rounded shadow p-3 mb-5 bg-body-tertiary rounded'>
    <div class='row'>
        <div class='col-md-4'>
            <img src='https://i.pinimg.com/originals/8d/3a/96/8d3a96a826d4a04fa5e4e442ed8b80f5.jpg' class='w-100'>
        </div>
        <div class='col-md-8'>
            <div class='row'><h2>{{ product.title }}</h2></div>
            <div class='row'>
                <h5>About</h5>
                <p>{{ product.description }}</p>
            </div>
            <div class='row mt-auto'><h3>Price: {{ product.price }}TK</h3></div>
            <div><a href='#' class='btn btn-primary'>Add to Cart</a></div>
        </div>
    </div>
</div>
{% endblock content %}


